@import '../core/variables';
@import '../core/reset';
@import '../core/mixins';

.header {
    padding: 10px 40px 20px;
    display: flex;
    justify-content: space-between;
    color: $color-gray-ultralight;
    background-color: $color-primary2;
    position: relative;

    &__logo {
        max-height: 40px;
        margin: 10px 0;
    }
}

.hidden {
    display: none;
}

.nav {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: .85rem;

    &__link {
        color: white;
        text-decoration: none;


        &--button {
            margin: 10px 0 10px 10px;
            padding: 10px 10px;
            border-radius: 10px;
            border: none;
            background-color: red;
            color: $color-primary;
            text-decoration: none;
            font-size: .85rem;
            height: 36px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            width: 85px;
        }

        &--button:hover {
            font-weight: 700;
        }

    }

    &__link:hover {
        font-weight: 700;
    }

}

.nav--shown {
    display: flex;
}

.menu {
    display: none;
    cursor: pointer;

    &__icon {
        font-size: 30px;
        padding: 10px 10px;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: block;
    }

    .nav {
        padding-top: 10px;
        background-color: red;
        z-index: 10;
        position: absolute;
        top: 62.5px;
        left: 0%;
        right: 0%;
        flex-direction: column;

        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;

            &--button {
                background-color: #000;
            }
        }

        &__link:hover {
            width: 100%;
            background-color: #ffffff14;
        }
    }

    .nav--shown {
        display: none;
    }

}