@import '../core/variables';
@import '../core/mixins';

.landing {
    height: 90vh;
    padding: 60px 20px 0;
    font-family: $font-main2;
    color: $color-primary;
    // background-image: linear-gradient(to bottom, #f0f7d467 25%, #f0f7d467), url("../images/lime.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        padding: 30px;
        font-family: $font-secondary;
        font-size: 2.75rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--strong {
            padding: 40px 0;
            font-size: 3rem;
            color: $color-primary2 ;
            text-shadow: 1px 1px 2px $color-secondary;

        }
    }

    &__btn {
        background-color: $color-primary;
        padding: 15px;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-main2;
        font-size: 2rem;
        text-align: center;

        &--text {
            padding: 40px 0;
            font-size: 1.35rem;
            color: $color-primary2 ;
            text-shadow: 1px 1px 2px $color-primary3;
        }

        &:hover {
            color: $color-secondary;
            font-size: 2.2rem;
            box-shadow: 0 4px 10px $color-primary3;
            transition: all 0.2s ease;
        }
    }
}