@import '../core/variables';
@import '../core/mixins';

.loader {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    align-items: center;

    &__icon {
        background-color: $color-secondary2;
        border: 10px solid $color-primary2;
        border-top: 10px solid $color-secondary3;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        animation: spin 2s linear infinite;

        //     @include Tablet() {
        //         border: 16px solid $color-primary2;
        //         border-top: 16px solid $color-secondary3;
        //         border-radius: 50%;
        //         width: 120px;
        //         height: 120px;
        //     }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}