@import '../core/variables.scss';
@import '../core/mixins.scss';

.main {
    //background-color: $color-secondary2;
    color: $color-primary;
    //height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero {
    padding: 218px 0 64px;
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;

    @include Tablet() {
        flex-direction: row;

    }

    &__container {
        max-width: 1200px;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        text-align: left;

        &--title {
            font-family: $font-secondary;
            font-size: 2rem;
            padding: 20px 0 10px;
        }

        &--subtitle {
            font-size: 1.2rem;
            line-height: 1.4;
            padding-bottom: 14px;
        }

        &--text {
            font-size: .8rem;
            line-height: 1.4;
            max-width: 45ch;
        }
    }

    &__container2 {
        display: flex;
        justify-content: center;
        padding-right: 40px;
        width: 50%;

        @include Tablet() {}

        &--img {
            width: 100%;

            @include Tablet() {
                width: 75%;
            }

            @include Desktop() {
                width: 50%;
            }
        }
    }

}


.section {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    &__container {
        max-width: 1200px;
        // padding: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;

        &--img {
            width: 300px;
        }

        &--title {
            padding: 20px 0 10px;
            font-family: $font-secondary;
            font-size: 1.75rem;
            line-height: 1.2;

        }

        &--link {
            text-decoration: none;
            color: $color-primary;
            text-align: left;
        }

        &--text {
            text-align: left;
            max-width: 45ch;
            font-size: .8rem;
            line-height: 1.4;

            @include Tablet() {
                text-align: center;
            }
        }

        &--projects {
            display: flex;
            gap: 20px;
            padding: 1rem;
        }

        &--project {
            box-shadow: 1px 1px 5px red;
            background-color: red;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }

    &__container2 {
        max-width: 1200px;
        padding: 0 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 500px;

        &--succeeded {
            max-width: fit-content;
            border-top: $color-primary4 dotted 1px;
            border-bottom: $color-primary4 dotted 1px;
            padding: 25px 15px 25px;
            color: $color-primary;
            font-size: .8rem;
            line-height: 1.2;
            font-style: italic;
            text-align: center;
        }
    }
}

.project {
    &__avatar {

        width: 100px;
        height: 100px;
        border-radius: 50%;
        filter: saturate(0%);
    }

    &__avatar:hover {
        box-shadow: 3px 3px 5px white;
        filter: sepia(100%);
    }
}

.form {
    width: 100%;
    min-width: 280px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__label {
        padding: 0 0 5px 10px;
        font-size: .8rem;
        font-weight: 500;
        text-align: left;
    }

    &__field {
        width: 100%;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 1rem;
        font-size: .75rem;
    }

    &__textarea {
        width: 100%;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 1rem;
        font-size: .75rem;
    }

    &__button {
        padding: 10px 45px;
        border-radius: 5px;
        border: none;
        background-color: red;
        color: $color-primary;
        font-size: .8rem;
        text-decoration: none;
        align-self: flex-end;
    }

    //when add media queries not->ice
    // &__button:mobile {
    // width: 100%;
}