@import '../core/variables.scss';
// @import '../node_modules/d3-milestones/build/d3-milestones';


.mainResume {
    margin: auto;
    color: $color-primary;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 80vh;
}

.sectionResume {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    &__container {
        //padding: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        // max-width: 500px;
        &--title {
            padding: 20px 0 10px;
            font-family: $font-secondary;
            font-size: 1.75rem;
            line-height: 1.2;
        }

        &--text {
            text-align: center;
            max-width: 45ch;
            font-size: .8rem;
            line-height: 1.4;
            padding: 20px 0;
        }
    }
}

.timeline {
    &__lineH {
        width: 904px;
        left: 50px;
        top: 400px;
        position: absolute;
        border: 1px rgb(0, 255, 51) solid;
    }

}

.milestonesJobs {
    display: flex;
    gap: 2rem;
    color: #878bde;

    &__item {
        display: flex;

        &--group {
            display: flex;
            justify-content: center;
            // gap: 1rem;
            padding-bottom: 5px;
        }

        &--text {
            margin-top: -15px;
            text-align: center;
            max-width: 12ch;

        }

    }

    &__group {
        &--lineV1 {
            height: 150px;
            top: 250px;
            position: absolute;
            border: 1px red solid;
        }
    }

}

.milestonesEducation {
    display: flex;
    gap: 7rem;
    color: yellow;

    &__item {
        display: flex;

        &--group {
            display: flex;
            justify-content: center;
            padding-bottom: 5px;
        }

        &--text {
            top: 500px;
            position: absolute;
            margin-top: 15px;
            text-align: center;
            max-width: 12ch;
        }

    }

    &__group {
        &--lineV1 {
            height: 100px;
            top: 400px;
            position: absolute;
            border: 1px orange dotted;
        }
    }
}

.timeline2 {
    color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1024px;
    height: 475px;
    position: 'relative';

    &__lineH {
        width: 904px;
        left: 50px;
        top: 400px;
        position: absolute;
        border: 1px rgb(0, 255, 51) solid;
    }

    &__group {
        &--lineV1 {
            height: 195px;
            left: 125px;
            top: 400px;
            position: absolute;
            border: 1px blue solid;
        }

        &--text {
            width: 30ch;
            left: 125px;
            top: 600px;
            position: absolute;
            font-size: .35rem;
        }

        &--lineV2 {
            height: 125px;
            left: 185px;
            top: 400px;
            position: absolute;
            border: 1px #002aff solid;
        }

        &--text2 {
            width: 30ch;
            left: 185px;
            top: 525px;
            position: absolute;
            font-size: .35rem;
        }


    }

    &__group2 {
        &--line {
            width: 904px;
            left: 50px;
            top: 400px;
            position: absolute;
            border: 1px rgb(0, 255, 51) solid;
        }
    }
}

.circle-container {
    top: 400px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
*/