@import '../core/variables.scss';
// @import '../node_modules/d3-milestones/build/d3-milestones';


.mainResume {
    margin: auto;
    color: $color-primary;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    //height: 80vh;
}

.sectionResume {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 40px;

    &__container {
        //padding: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        // max-width: 500px;
        &--title {
            padding: 20px 0 10px;
            font-family: $font-secondary;
            font-size: 1.75rem;
            line-height: 1.2;
        }

        &--text {
            text-align: center;
            max-width: 45ch;
            font-size: .8rem;
            line-height: 1.4;
            padding: 20px 0;
        }
    }
}

.timeline {
    &__container {
        display: flex;
        height: 650px;
    }

    &__lineH {
        // width: 904px;
        // height: 5px;
        width: 5px;
        background-color: $color-primary;
        // left: 300px;
        // top: 300px;
        // position: absolute;
        border: 1px $color-primary solid;
    }

}

.timeline__container {
    max-width: 904px;

    display: flex;
    height: 650px;
    justify-content: center;
}

.milestonesJobs {
    top: 300px;
    position: absolute;
    left: 50%;

    display: flex;
    gap: 2rem;
    color: $color-primary;
    height: 650px;
    flex-direction: column;
    //    justify-content: center; 

    &__item {
        display: flex;
        //justify-content: flex-start;


        &--group {
            display: flex;
            //justify-content: center;
            //align-items: center;
            // gap: 1rem;

        }

        &--text {
            //margin-top: -15px;
            align-items: center;
            text-align: left;
            max-width: 17ch;
            padding-left: 15px;

        }

    }

    &__group {
        &--lineV1 {
            width: 150px;
            height: 1px;
            // top: 250px;
            // position: absolute;
            border: 1px $color-primary solid;
        }
    }

}

.milestonesEducation {
    display: flex;
    gap: 7rem;
    color: $color-primary;
    top: 300px;
    right: 50%;
    position: absolute;
    flex-direction: column;
    //justify-content: center;
    // max-height: 700px;

    &__item {
        display: flex;
        justify-content: flex-end;

        &--group {
            display: flex;
            justify-content: center;
            align-items: center;

        }

        &--text {
            // top: 500px;
            // position: absolute;
            // margin-top: 15px;
            padding-right: 15px;
            text-align: center;
            max-width: 12ch;
        }

    }

    &__group {
        &--lineV1 {
            width: 150px;
            height: 1px;
            // height: 100px;
            // top: 400px;
            // position: absolute;
            border: 1px $color-primary dotted;
        }
    }
}

.timeline2 {
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1024px;
    height: 475px;
    position: 'relative';

    &__lineH {
        width: 904px;
        // left: 50px;
        top: 400px;
        position: absolute;
        border: 1px rgb(0, 255, 51) solid;
    }

    &__group {
        &--lineV1 {
            height: 195px;
            left: 125px;
            top: 400px;
            position: absolute;
            border: 1px blue solid;
        }

        &--text {
            width: 30ch;
            left: 125px;
            top: 600px;
            position: absolute;
            font-size: .35rem;
        }

        &--lineV2 {
            height: 125px;
            left: 185px;
            top: 400px;
            position: absolute;
            border: 1px #002aff solid;
        }

        &--text2 {
            width: 30ch;
            left: 185px;
            top: 525px;
            position: absolute;
            font-size: .35rem;
        }


    }

    &__group2 {
        &--line {
            width: 904px;
            left: 50px;
            top: 400px;
            position: absolute;
            border: 1px rgb(0, 255, 51) solid;
        }
    }
}



/* 

.circle-container {
    top: 400px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: $color-primary;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/