@import '../core/variables.scss';

.mainResume {
    margin: auto;
    color: $color-primary;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 40px;

    &__link {
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;

        &--button {
            margin: 10px 0 10px 10px;
            padding: 10px 10px;
            border-radius: 10px;
            border: none;
            background-color: red;
            color: $color-primary;
            text-decoration: none;
        }
    }
}

.sectionResume {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 40px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
            padding: 20px 0 10px;
            font-family: $font-secondary2;
            font-size: 1.75rem;

        }

        &--titleSpan {
            font-style: italic;
            font-family: $font-secondary;
        }

        &--text {
            text-align: center;
            max-width: 45ch;
            font-size: .8rem;
            line-height: 1.4;
            padding: 20px 0;
        }
    }

    &__container2 {
        //background-color: blue;
        max-width: 1024px;
        // width: 100%;
        //padding-right: 40px;
        //margin-right: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        &--left {
            //background-color: green;
            min-width: 475px;
            max-height: 380px;
            display: flex;
            justify-content: center;
            position: relative;
            overflow-y: scroll;
        }

        &--lineV {
            top: 0;
            bottom: 0;
            width: 5px;
            height: 650px;
            background-color: $color-primary;
            border: 1px $color-primary solid;
        }
    }
}


.milestonesJobs {
    min-height: 650px;
    color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 40px 0 0;

    :hover {
        color: red;
        font-weight: 700;
    }

    &__item {
        display: flex;

        &--group {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--lineH1 {
            width: 150px;
            height: 1px;
            margin: 0.5rem 0;
            border: 1px solid;
        }

        &--text {
            align-items: center;
            text-align: left;
            width: 17ch;
            padding-left: 15px;
        }

        &--text2 {
            color: $color-secondary4;
            width: 40ch;
            padding-left: 15px;
            align-items: center;
            text-align: left;
            font-style: italic;
            font-size: .58rem;
            line-height: 1.8;
        }
    }
}

.jobDescription {

    color: $color-primary;
    height: 380px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-end;
    //gap: 2rem;
    min-width: 300px;

    &__item {
        color: $color-secondary4;

        &--group2 {
            //background-color: red;
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 5px;
            width: 300px;
            min-height: 150px;

        }

        &--title {
            font-weight: 700;
            width: 50px;
            padding: 0 15px;
        }

        &--text {
            font-size: .8rem;
            border-left: 1px white dotted;
            line-height: 1.2rem;
            padding: 0 15px;
            //width: 50ch;
        }

    }
}

.focused {
    color: white;
    background-color: #d6d6d625;
    border-radius: 10px;
}

.milestonesEducation {
    color: $color-primary;
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;

    &__item {
        display: flex;
        justify-content: flex-end;

        &--text {
            padding-right: 15px;
            text-align: center;
            max-width: 17ch;
        }

        &--lineH1 {
            width: 1px;
            height: 10px;
            border: 1px $color-primary solid;
            margin: 0.5rem 0
        }
    }
}


.sectionResume2 {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
            padding: 20px 0 10px;
            font-family: $font-secondary2;
            font-size: 1.75rem;
        }

        &--text {
            text-align: center;
            max-width: 45ch;
            font-size: .8rem;
            line-height: 1.4;
            padding: 20px 0;
        }

        &--titleSpan {
            font-style: italic;
            font-family: $font-secondary;
        }
    }
}

.sectionResume3 {
    padding: 60px 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &--title {
            padding-top: 20px;
            font-family: $font-secondary2;
            font-size: 1.75rem;
        }

        &--text {
            text-align: right;
            max-width: 45ch;
            font-size: .8rem;
            line-height: 1.4;
            padding: 20px 0;
        }

        &--title2 {
            color: $color-secondary4;
            font-size: 1.75rem;
            font-style: italic;
            line-height: .5;
            font-family: $font-secondary;
        }
    }

    &__container2 {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        gap: 15px;

        &--img {
            width: 300px;
        }

        &--img2 {
            width: 300px;
            filter: saturate(0%);
        }
    }
}

.sectionResume4 {
    padding: 60px 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
            padding: 20px 0 10px;
            font-family: $font-secondary2;
            font-size: 1.75rem;
        }

        &--text {
            text-align: center;
            max-width: 45ch;
            font-size: .8rem;
            line-height: 1.4;
            padding: 20px 0;
        }

        &--titleSpan {
            font-style: italic;
            font-family: $font-secondary;
        }

        &--img {
            width: 150px;
        }
    }
}

.sectionResume5 {
    padding: 60px 0;

    &__container {
        display: flex;
        justify-content: center;

        &--title {
            font-family: $font-secondary2;
            font-size: 1.75rem;

        }

        &--title2 {
            color: $color-secondary4;
            font-size: 1.75rem;
            font-style: italic;
            font-weight: 700;
            font-family: $font-secondary;

        }
    }

    &__container2 {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        gap: 15px;

        &--img {
            width: 60%;
        }

        &--img2 {
            width: 300px;
            filter: saturate(0%);
        }
    }
}