// fonts
$font-main: 'Montserrat', sans-serif;
$font-main2: 'Roboto', sans-serif;
$font-main3: 'HelveticaNeue', sans-serif;
$font-secondary: 'Libre Caslon Display', serif;
$font-secondary2: 'Merriweather Sans', sans-serif;
$font-secondary3: 'Bebas Neue', sans-serif;


// colors
$color-primary: #fff;
$color-primary2: #000;
$color-primary3: #ccc;
$color-secondary: #a1a192;
$color-secondary2: #C7C7B6;
$color-secondary3: #ffffe877;
$color-secondary4: #7d7d71;