@import './core/reset';
@import './core/variables';
@import './core/mixins';
@import './layout/Header.scss';
@import './layout/Main';
@import './layout/MainProjects';
@import './layout/Landing';
@import './layout/Footer';
@import './layout/Loader';



.App {
  //width: 100%;
  background-color: $color-primary2;
  font-family: $font-main;

  @include Desktop() {
    padding: 0 250px;
  }

  @include Tablet() {
    padding: 0 40px;
  }
}